<h2>Swimmers.</h2>

<table>
<% @club.swimmers.each do |swimmer| %>
  <tr>
    <td align="right"><%= swimmer.registration %></td>
    <td><%= link_to swimmer.name, swimmer %> [<%= swimmer.age %>]</td>
    <td><%= link_to image_tag('delete.png', :class => "icon"), swimmer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Swimmer', new_swimmer_path(:club_id => @club) %>
