<h1>Listing swimmers</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birthday</th>
    <th>Registration</th>
    <th></th>
    <th></th>
  </tr>

<% @club.swimmers.each do |swimmer| %>
  <tr>
    <td><%= link_to swimmer.name, swimmer %> (<%= swimmer.gender %>)</td>
    <td><%= swimmer.birthday %> [<%= swimmer.age %>]</td>
    <td><%= swimmer.registration %></td>
    <td><%= link_to 'Edit', edit_swimmer_path(swimmer, :club_id => @club) %></td>
    <td><%= link_to 'Delete', swimmer, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Swimmer', new_swimmer_path(:club_id => @club) %>
