<h1>Listing clubs</h1>

<table>
  <tr>
    <th>Full name</th>
    <th>Symbol</th>
    <th>Contact</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clubs.each do |club| %>
  <tr>
    <td><%= club.full_name %></td>
    <td><%= club.symbol %></td>
    <td><%= club.contact %></td>
    <td><%= club.email %></td>
    <td><%= link_to 'Show', club %></td>
    <td><%= link_to 'Edit', edit_club_path(club) %></td>
    <td><%= link_to 'Destroy', club, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Club', new_club_path %>
