<p id="notice"><%= notice %></p>

<h2>
  <%= @club.full_name %>
  (<%= @club.symbol %>)
</h2>

<p>
  <b>Contact:</b>
  <%= @club.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @club.email %>
</p>

<hr/>
<%= render 'swimmers' %>
<hr/>
<%= render 'register' %>
<hr/>



<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
