<p id="notice"><%= notice %></p>

<h2>
  <%= @club.full_name %>
  (<%= @club.symbol %>)
</h2>

<p>
  <b>Contact:</b>
  <%= @club.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @club.email %>
</p>
<hr/>

<h2>Swimmers.</h2>
<table>
<%= render @club.swimmers %>
</table>
<br />
<hr />

<%= link_to 'New Swimmer', new_swimmer_path(:club_id => @club) %>
<hr/>

<h2>Competitions.</h2>
<ul>
<%= render Competition.all.reverse %>
</ul>
<hr/>

<%= link_to 'Edit', edit_club_path(@club) %> |
<%= link_to 'Back', clubs_path %>
<br />
<br />
