<p id="notice"><%= notice %></p>

<h2>
  <%= @club.full_name %>
  (<%= @club.symbol %>)
</h2>

<p>
  <b>Contact:</b>
  <%= @club.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @club.email %>
</p>
<hr/>

<h3>Swimmers.</h3>

<%= @club.swimmers.count %> swimmers:
<%= @club.swimmers.find_all_by_gender('f').count %> girls,
<%= @club.swimmers.find_all_by_gender('m').count %> boys.
<br />
<br />

<% Swimmer::GENDERS.each do |sex| %>
<table class="fact-sheet">
<th>ID</th>
<th>Swimmer (<%= sex.upcase %>)</th>
<th>Age</th>
<% if session[:edit] %>
<th></th>
<% end %>
<%= render @club.swimmers.where(:gender => sex) %>
</table>
<% end %>
<br />
<hr />

<% if session[:edit] %>
<%= link_to 'New Swimmer', new_swimmer_path(:club_id => @club) %>
<hr/>
<% end %>

<h3>Invitations.</h3>
<ul>
<%= render @club.invitations.sort_by { |x| x.competition.date }.reverse %>
</ul>
<hr/>

<% if session[:edit] %>
<%= link_to 'Edit', edit_club_path(@club) %> |
<% end %>
<%= link_to 'Back', clubs_path %>
<br />
<br />
