<% content_for :level do %>
  <h3>Clubs</h3>
  <ul><%= render Club.all %></ul>
<% end %>

<h3><%= link_to 'Clubs', clubs_path %></h3>

<h1><%= @club.name %></h1>

<p>
  <b>Contact:</b>
  <%= @club.contact %>
</p>

<p>
  <b>Email:</b>
  <%= @club.email %>
</p>
<hr/>
*** <%= link_to 'Club Records', results_path(:club_id => @club) %> ***
<hr/>

<h3>Swimmers.</h3>

<%= pluralize(@club.swimmers.count, 'swimmer') %>:
<% @club.swimmers.group_by(&:gender).each do |gender, swimmers| %>
  <%= pluralize(swimmers.count, boy_or_girl(gender)) %>
<% end %>
<br />
<br />

<% @club.swimmers.group_by(&:gender).each do |gender, swimmers| %>
<div style="float: left">
<table class="fact-sheet">
<th>ID</th>
<th>Swimmer (<%= gender.upcase %>)</th>
<th>Birthdate</th>
<%= render :partial => "club_swimmer", :collection => swimmers %>
</table>
</div>
<% end %>
<br style="clear: left;"/>
<hr />

<% if can? :create, Swimmer %>
  <%= link_to 'New Swimmer', new_swimmer_path(:club_id => @club) %>
  <hr/>
<% end %>

<h3>Recent Invitations.</h3>
<ul>
<%= render @club.invitations.select { |x| x.competition.date.to_datetime > 1.year.ago }.sort_by { |x| x.competition.date }.reverse %>
</ul>
... see <%= link_to "all invitations", invitations_path(:club_id => @club) %>.

<hr/>

<% if user_session[:edit] %>
  <% if can? :update, @club %>
    <%= link_to 'Edit', edit_club_path(@club) %> |
  <% end %>
  <% if can? :destroy, @club %>
    <%= link_to 'Destroy', @club, :confirm => 'Are you sure?', :method => :delete  %> |
  <% end %>
<% end %>
<%= link_to 'Back', clubs_path %>
<br />
<br />
