<%= form_for(@seat) do |f| %>
  <% if @seat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@seat.errors.count, "error") %> prohibited this seat from being saved:</h2>

      <ul>
      <% @seat.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :relay_id %>
  <%= f.hidden_field :registration_id %>
 
  <div class="field">
    <%= f.label :pos, "Position" %>
    <%= f.select :pos, 0..4 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
