<p id="notice"><%= notice %></p>

<p>
  <b>Relay:</b>
  <%= @seat.relay_id %>
</p>

<p>
  <b>Swimmer:</b>
  <%= @seat.swimmer_id %>
</p>

<p>
  <b>Pos:</b>
  <%= @seat.pos %>
</p>


<%= link_to 'Edit', edit_seat_path(@seat) %> |
<%= link_to 'Back', seats_path %>
