<%= form_for(@profile) do |f| %>
  <% if @profile.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profile.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :user_id %>

  <div class="field">
    <%= f.label :club_id %><br />
    <%= f.select :club_id, (Club.all).map { |x| [x.name, x.id] } %>
  </div>
  <div class="field">
    <%= f.label :swimmer_id %><br />
    <%= f.text_field :swimmer_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
