<%= form_for(@discipline) do |f| %>
  <% if @discipline.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@discipline.errors.count, "error") %> prohibited this discipline from being saved:</h2>

      <ul>
      <% @discipline.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, Swimmer::GENDERS, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :distance %><br />
    <%= f.select :distance, Discipline::DISTANCES, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :course %><br />
    <%= f.select :course, Discipline::COURSES %>
  </div>
  <div class="field">
    <%= f.label :stroke %><br />
    <%= f.select :stroke, Discipline::STROKES, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :mode %><br />
    <%= f.select :mode, Discipline::MODES, :default => "I" %>
  </div>
  <div class="field">
    <%= f.label :differential %><br />
    <%= f.number_field :differential %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
