<h1>Listing disciplines</h1>

<table>
<% @disciplines.each do |discipline| %>
  <tr>
    <td><%= link_to discipline.name, discipline %></td>
    <td><%= discipline.type %></td>
    <td><%= link_to 'Edit', edit_discipline_path(discipline) %></td>
    <td><%= link_to 'Destroy', discipline, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Discipline', new_discipline_path %>
