<h3><%= link_to 'Disciplines', disciplines_path %></h3>

<h1><%= @discipline %></h1>

<% r = @discipline.sample_result %>
<% if r %>
<p>
  <b>Sample Time:</b>
  <%= r %> (<%= r.entry.swimmer.first_last %>, <%= r.entry.club.symbol %>, <%= r.date %>)
</p>
<% end %>

<h2>Competitions</h2>

<ul>
<% @discipline.events.sort_by { |x| x.competition.date }.reverse_each do |event| %>
<% competition = event.competition %>
<li><%= competition.date %>: <%= link_to competition.name, event %> (<%= competition.location %>)</li>
<% end %>
</ul>

<h2>Qualification Times</h2>

<% @qts_by_qualification.each do |qualification, times| %>
<h3><%= link_to qualification.name, qualification %></h3>
<table class="fact-sheet">
  <% times.sort_by(&:age_min).each do |time| %>
<tr class="times-major">
   <th align="right"><%= ages_to_words(time.age_range) %>: </th>
   <td align="right"><%= time %></td>
</tr>
  <% end %>
</table>
<% end %>

<hr />
<% if can? :update, @discipline %>
<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<% end %>
<% if can? :destroy, @discipline %>
<%= link_to 'Destroy', @discipline, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', disciplines_path %>
