<p id="notice"><%= notice %></p>

<h2><%= @discipline %></h2>

<p>
  <b>Gender:</b>
  <%= @discipline.gender %>
</p>

<p>
  <b>Distance:</b>
  <%= @discipline.distance %>
</p>

<p>
  <b>Course:</b>
  <%= @discipline.course %>
</p>

<p>
  <b>Stroke:</b>
  <%= @discipline.stroke %>
</p>

<p>
  <b>Mode:</b>
  <%= @discipline.mode %>
</p>

<p>
  <b>Sample:</b>
  <% r = @discipline.sample_result %>
  <%= r %> (<%= r.entry.swimmer.first_last %>, <%= r.entry.club.symbol %>, <%= r.entry.event.competition.date %>)
</p>



<hr />
<% if session[:edit] %>
<%= link_to 'Edit', edit_discipline_path(@discipline) %> |
<%= link_to 'Destroy', @discipline, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', disciplines_path %>
