<p id="notice"><%= notice %></p>

<h3>
  <%= @event.competition.name %>
(<%= @event.competition.date %>,
<%= @event.competition.location %>)
</h3>

<h1>
  Event <%= @event.pos %>.
  <%= @event.discipline.to_words %>
</h1>
<h4>
  <%= ages_to_words(@event.age_range) %>
</h4>

<h2>Heats.</h2>

<table class="fact-sheet">
<tr class="fact-major">
<th>Heat</th>
<th>Lane</th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>

<% @heats.each do |heat| %>
  <tr class="fact-title">
    <th colspan="7">Heat <%= heat.pos %></th>
  </tr>

  <%= render heat.entries.sort_by(&:lane) %>
<% end %>
</table>

<br />

<h2>Lanes.</h2>

<table class="fact-sheet">
<tr class="fact-major">
<th>Heat</th>
<th>Lane</th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>

<% @lanes.each do |lane| %>
  <tr class="fact-title">
    <th colspan="7">Lane <%= lane %></th>
  </tr>

  <%= render @event.entries.where(:lane => lane).sort_by { |x| x.heat.pos } %>
<% end %>
</table>

<br />
<hr />

<%= render 'events/navigation' %>
