<h3><%= @event.competition.name %> (<%= @event.competition.date %>)</h3>
<h1>Seed Event <%= @event.pos %></h1>

<%= form_tag heats_path do %>

  <%= hidden_field_tag :event_id, @event.id %>
  <div class="field">
    <%= label_tag :width, "Number of Lanes" %>
    <%= select_tag :width, options_for_select((1..10).to_a, "6")  %>
  </div>
  <%= submit_tag "Seed!", :confirm => "Are you sure?" %>
<% end %>

<br />
<hr />

<%= link_to 'Back', @event %>
