<%= form_for(@qualification_time) do |f| %>
  <% if @qualification_time.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@qualification_time.errors.count, "error") %> prohibited this qualification_time from being saved:</h2>

      <ul>
      <% @qualification_time.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :qualification_id %>
  
  <h3><%= @qualification_time.qualification.name %></h3> 
  
  <div class="field">
    <%= f.label :discipline_id %><br />
    <%= f.select :gender, Swimmer::GENDERS, :include_blank => true %>
    <%= f.select :distance, Discipline::DISTANCES, :include_blank => true %>
    <%= f.select :course, Discipline::COURSES %>
    <%= f.select :stroke, Discipline::STROKES, :include_blank => true %>
    <%= f.select :mode, Discipline::MODES %>
  </div>
  <div class="field">
    <%= f.label :age_min, "Age from" %>
    <%= f.text_field :age_min, :size => 2 %>
    <%= f.label :age_max, "to" %>
    <%= f.text_field :age_max, :size => 2 %>
  </div>
  <div class="field">
    <%= f.label :time %>
    <%= f.text_field :mins, :size => 2 %>:
    <%= f.text_field :secs, :size => 2 %>.
    <%= f.text_field :cens, :size => 2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
