<p id="notice"><%= notice %></p>

<h3>
  <%= @qualification_time.qualification.name %> Time
</h3>

<p>
  <b>Discipline:</b>
  <%= @qualification_time.discipline.name %>
</p>

<p>
  <b>Age</b>
  <%= @qualification_time.age_min %>
    -
  <%= @qualification_time.age_max %>
</p>

<p>
  <b>Time:</b>
  <%= time_to_msc(@qualification_time.time) %>
</p>


<%= link_to 'Edit', edit_qualification_time_path(@qualification_time) %> |
<%= link_to 'Back', @qualification_time.qualification %>
