<h3>Edit my account details</h3>

<%= form_for(resource, :as => resource_name, :url => user_registration_path, :html => { :method => :put }) do |f| %>
  <h1><code><%= resource.email %></code></h1>

  <%= devise_error_messages! %>

  <%= f.hidden_field :email %>

  <fieldset>
    <legend>Change username or password</legend>
    <table>
      <tr>
	<td><%= f.text_field :name %></td>
	<td><%= f.label :name, "Username" %></td>
      </tr>
      <tr>
	<td><%= f.password_field :password %></td>
	<td><%= f.label :password, "New password" %> <i>(leave blank if you don't want to change it)</i></td>
      </tr>
      <tr>
	<td><%= f.password_field :password_confirmation %></td>
	<td><%= f.label :password_confirmation, "Confirm new password" %></td>
      </tr>
      <tr>
	<td colspan="2">
	  <i>Enter your current password and submit your changes:</i>
	</td>
      </tr>
      <tr>
	<td><%= f.password_field :current_password %></td>
	<td><%= f.submit "Submit" %></td>
      </tr>
    </table>
  </fieldset>
<% end %>

<h3>Cancel my account</h3>

<p>I want to leave GalaMan for good. <%= link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete %>.</p>

<hr />

<%= link_to "Back", :back %>
