<% content_for :level do %>
  <h3><%= @docket.invitation.club %></h3>
  <% @docket.invitation.dockets.group_by(&:gender).each do |gender, dockets| %>
    <h4><%= { 'f' => 'Girls', 'm' => 'Boys' }[gender] %></h4>
    <ul><%= render dockets %></ul>
  <% end %>
<% end %>


<h3><%= link_to @docket.competition.name, @docket.competition %> (<%= @docket.competition.location %>, <%= @docket.competition.date %>)</h3>
<h1><%= link_to @docket.swimmer.name, @docket.swimmer %> (<%= link_to @docket.invitation.club.symbol, @docket.invitation %>)</h1>

<div>
  <b>Age (F/M):</b>
  <%= @docket.age %> (<%= @docket.swimmer.gender.upcase %>),
  <b>ID:</b>
  <%= @docket.swimmer.number %>.
<div>
<br />
<br />

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Event</th>
    <th>Plc</th>
    <th>Result</th>
    <th>PB</th>
    <th>(Seed)</th>
  </tr>
  <% nr_swims, nr_pbs, pb_total = 0, 0, 0 %>
  <% @docket.entries.sort_by { |x| x.event.pos }.each do |entry| %>
    <tr class="times-major">
      <th><%= link_to entry.event.pos, entry.event %>.</th>
      <th><%= link_to entry.event.nickname, swimmer_path(@docket.swimmer, :discipline_id => entry.discipline) %></th>
      <td style="text-align: right;"><%= "#{entry.result.place}." if entry.result and entry.result.place %></td>
      <td style="text-align: right;">
        <% if entry.result %>
          <% nr_swims += 1 %>
          <%= link_to entry.result, entry.result %>
        <% else %>
          <%= link_to '__:__.__', new_result_path(:entry_id => entry.id) %>
        <% end %>
      </td>
      <td style="text-align: right;">
        <% if entry.result %>
	  <% pb = entry.result.personal_best %>
	  <% if pb %>
            <% nr_pbs += 1 %>
            <% pb_total += pb %>
	    <%= pb == 0 ? '*' : time_to_msc(pb) %>
          <% end %>
	<% end %>
      </td>
      <td style="text-align: right;">(<%= entry %>)</td>
    </tr>
  <% end %>
</table>
<% if nr_swims > 0 %>
<p>
  <%= pluralize(nr_swims, "Result") %>, 
  PB total: <%= time_to_msc(pb_total) %>.
</p>
<% end %>
<hr>
<% if user_session[:edit] %>
<%= link_to 'Edit', edit_docket_path(@docket) %> |
<% end %>
<% if can? :destroy, @docket %>
<%= link_to 'Destroy', @docket, :confirm => 'Are you sure?', :method => :delete  %> |
<% end %>
<%= link_to 'Back', @docket.invitation %>
