<tr class="fact-major">
    <td><%= entry.heat %></td>
    <td><%= entry.lane %></td>
    <td><%= link_to entry.name, entry.subject %></td>
    <td align="right"><%= entry.age %></td>
    <td><%= entry.club.symbol %></td>
    <td align="right">(<%= entry %>)</td>
    <td align="right">
      <div id="<%= "entry_#{entry.id}" %>">
        <% if entry.results.any? %>
          <% result = entry.results.first %>
        <% else %>
          <% result = Result.new %>
          <% entry.results << result %>
        <% end %>
        <% if result.time %>
          <%= link_to result, result %>
        <% else %>
          <%= form_for result, :remote => true do |f| %>
            <%= f.text_field :mins, size: 2, maxlength: 2 %>:
            <%= f.text_field :secs, size: 2, maxlength: 2 %>.
            <%= f.text_field :cens, size: 2, maxlength: 2 %>
  	  <%= f.select :comment, %w(DQ DNS DNF NS), include_blank: true %>
            <%= f.submit '!' %>
          <% end %>
        <% end %>
      </div>
    </td>
</tr>
