<tr class="fact-major">
    <td><%= entry.heat %></td>
    <td><%= entry.lane %></td>
    <td><%= link_to entry.name, entry.subject %></td>
    <td align="right"><%= entry.age %></td>
    <td><%= entry.club.symbol %></td>
    <td align="right"><%= entry %></td>
    <td align="right">
      <div id="<%= "entry_#{entry.id}" %>">
      <% if entry.result and entry.result.time %>
        <%= link_to entry.result, entry.result %>
      <% else %>
        <% entry.result = Result.new %>
        <%= form_for entry.result, :remote => true do |f| %>
          <%= f.text_field :mins, :size => 2, :maxlength => 2, :onkeyup => "moveOn(this)" %>:
          <%= f.text_field :secs, :size => 2, :maxlength => 2, :onkeyup => "moveOn(this)" %>.
          <%= f.text_field :cens, :size => 2, :maxlength => 2 %>
	  <%= f.select :comment, %w(DQ DNS DNF NS), :include_blank => true %>
          <%= f.submit '!' %>
        <% end %>
      <% end %>
      </div>
    </td>
</tr>
