<tr class="fact-major">
    <td><%= entry.heat.pos if entry.heat %></td>
    <td><%= entry.lane %></td>
    <td><%= link_to entry.swimmer.name, entry.swimmer %></td>
    <td align="right"><%= entry.registration.age %></td>
    <td><%= entry.swimmer.club.symbol %></td>
    <td align="right"><%= entry %></td>
    <td align="right">
      <% if entry.result %>
        <%= link_to entry.result, entry.result %>
      <% else %>
        <%= link_to '__:__.__', new_result_path(:entry_id => entry.id) %>
      <% end %>
    </td>
</tr>

