
<h2>Club records by gender.</h2>

<% @entries.group_by { |x| x.swimmer.gender }.each do |gender, entries_gender| %>

<h3><%= gender %></h3>

<table class="fact-sheet">
<tr class="times-major">
<th></th>
<% Discipline::STROKES.each do |stroke| %>
  <th style="width:106px"><%= truncate(stroke, :length => 12) %></th>
<% end %>
</tr>
<% entries_gender.group_by(&:distance_course_code).sort.each do |row, entries_row| %>
  <% entries = entries_row.group_by(&:stroke) %>
  <tr class="pb-hi" align="right">
    <th rowspan="2"><%= distance_course(row) %></th>
    <% Discipline::STROKES.each do |stroke| %>
      <td>
        <% if entries[stroke] %>
          <% best = best_result(entries[stroke].map(&:result).compact) %>
	  <% if best %>
             <%= link_to best, best %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <tr class="pb-lo" align="right">
    <% Discipline::STROKES.each do |stroke| %>
      <td>
        <% if entries[stroke] %>
          <% best = best_result(entries[stroke].map(&:result).compact) %>
	  <% if best %>
	<%= content_tag :span, :title => "#{best.competition.date}: #{best.competition.name}" do %>
              <%= best.swimmer.first_last %>
            <% end %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<br/>
<br/>
<% end %>

<h2>Club records by age.</h2>

<% @entries.group_by(&:age).sort.each do |age, entries_age| %>

<% entries_age.group_by { |x| x.swimmer.gender }.each do |gender, entries_gender| %>

<h3><%= "#{age} #{gender}" %></h3>

<table class="fact-sheet">
<tr class="times-major">
<th></th>
<% Discipline::STROKES.each do |stroke| %>
  <th style="width:106px"><%= truncate(stroke, :length => 12) %></th>
<% end %>
</tr>
<% entries_gender.group_by(&:distance_course_code).sort.each do |row, entries_row| %>
  <% entries = entries_row.group_by(&:stroke) %>
  <tr class="pb-hi" align="right">
    <th rowspan="2"><%= distance_course(row) %></th>
    <% Discipline::STROKES.each do |stroke| %>
      <td>
        <% if entries[stroke] %>
          <% best = best_result(entries[stroke].map(&:result).compact) %>
	  <% if best %>
             <%= link_to best, best %>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
  <tr class="pb-lo" align="right">
    <% Discipline::STROKES.each do |stroke| %>
      <td>
        <% if entries[stroke] %>
          <% best = best_result(entries[stroke].map(&:result).compact) %>
	  <% if best %>
              <%= best.swimmer.first_last %>
            </span>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<br/>

<% end %>
<% end %>
