<h1>New entry</h1>

<p>
PB: <%= @best %>(<%= @best.competition if @best %>)
</p>
<p>
co-PB: <%= @cobest %>(<%= @cobest.competition if @cobest %>)
</p>
<%= render 'form' %>

<%= link_to 'Back', @entry.invitation %>
