<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @entry.event.discipline.name %>
</p>

<p>
<% if @entry.relay %>
  <b>Relay Team:</b>
  <%= @entry.relay.name %>
<% else %>
  <b>Swimmer:</b>
  <%= @entry.swimmer.name %>
<% end %>
</p>

<p>
  <b>Seed time:</b>
  <%= time_to_msc(@entry.time) %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Destroy', @entry, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', @entry.invitation %>
