<h3><%= link_to @entry.competition.name, @entry.competition %></h3>
<%= @entry.competition.course %>:
<%= @entry.competition.location_dates %>
<h1><%= link_to @entry.name, @entry.subject %> (<%= link_to @entry.club.symbol, @entry.invitation %>)</h1>

<div>
  <%= @entry.age %> <%= @entry.gender.upcase %>,
  <b>ID:</b>
  <%= @entry.number %>.
<div>
<br>

<%= render 'best' %>

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Event</th>
    <th>Result</th>
    <th>Plc</th>
    <th>PB</th>
  </tr>

  <%= render partial: 'one_entry', locals: { entry: @entry } %>
</table>
<hr>

<% if user_session[:edit] %>
<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Destroy', @entry, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', @entry.invitation %>
