<p id="notice"><%= notice %></p>

<p>
  <b>Event:</b>
  <%= @entry.event.discipline.name %>
</p>

<p>
  <b>Swimmer:</b>
  <%= @entry.swimmer.name %>
</p>

<p>
  <b>Seed time:</b>
  <%= time_to_msc(@entry.seed_time) %>
</p>

<%= link_to 'Edit', edit_entry_path(@entry) %> |
<%= link_to 'Back', entries_path %>
