<h3>Events</h3>

<table class="fact-sheet">
  <tr class="fact-major">
    <th>No.</th>
    <th>Discipline</th>
    <th>Age</th>
    <th></th>
    <th></th>
  </tr>

<% @competition.events.each do |event| %>
  <tr class="fact-major">
    <td align="right"><%= ordinal_number(event.pos) %></td>
    <td><%= link_to event.discipline.to_words, event %></td>
    <td><%= ages_to_words(event.age_range) %></td>
    <td align="right"><%= pluralize(event.entries.count, 'entry') %></td>
    <td><%= link_to image_tag('delete.png', :class => "icon"), event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path(:competition_id => @competition) %>
