<h1>Listing events</h1>

<table>
  <tr>
    <th>Competition</th>
    <th>Discipline</th>
    <th>Pos</th>
    <th>Age min</th>
    <th>Age max</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @events.each do |event| %>
  <tr>
    <td><%= event.competition_id %></td>
    <td><%= event.discipline_id %></td>
    <td><%= event.pos %></td>
    <td><%= event.age_min %></td>
    <td><%= event.age_max %></td>
    <td><%= link_to 'Show', event %></td>
    <td><%= link_to 'Edit', edit_event_path(event) %></td>
    <td><%= link_to 'Destroy', event, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event', new_event_path %>
