<h3 class="edit-head">Events</h3>
<% if can? :update, @competition %>
  <div class="edit">
    <%= link_to '[+]', new_event_path(:competition_id => @competition) %>
  </div>
<% end %>
<br />

<% events = @competition.events.group_by(&:day) %>
<% @competition.days.each do |day| %>
<% if events.include?(day) %>
<% if @competition.length > 1 %>
<h4>Day <%= day %> (<%= @competition.date + (day - 1).days %>)</h4>
<% end %>
<table class="fact-sheet">
  <tr class="fact-major">
    <th>No.</th>
    <th>Discipline</th>
    <th>Age</th>
    <th></th>
    <% if can? :update, @competition %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

<% events[day].each do |event| %>
  <tr class="fact-major">
    <td align="right"><%= ordinal_number(event.pos) %></td>
    <td><%= link_to event.discipline.to_words, event %></td>
    <td><%= ages_to_words(event.age_range) %></td>
    <td align="right"><%= pluralize(event.entries.count, 'entry') %></td>
    <% if can? :update, @competition %>
      <td><%= link_to image_tag('delete.png', :class => "icon"), event, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>
<% end %>
<% end %>
