<%= form_for(@competition) do |f| %>
  <% if @competition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@competition.errors.count, "error") %> prohibited this competition from being saved:</h2>

      <ul>
      <% @competition.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :location %><br />
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :date, 'Start Date' %><br />
    <%= f.date_select :date, :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.text_field :length, :size => 4 %> Days
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
