<h3>Participating Clubs</h3>

<table class="fact-sheet">

<% @competition.invitations.each do |invitation| %>
  <tr class="fact-major">
    <td><%= link_to invitation.club.name, invitation %></td>
<td align="right"><%= pluralize(invitation.registrations.count, 'swimmer') %> in</td>
<td align="right"><%= pluralize(invitation.registrations.map { |x| x.entries.count }.sum, 'event') %></td>
<% if session[:edit] %>
    <td><%= link_to image_tag('delete.png', :class => "icon"), invitation, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
  </tr>
<% end %>
</table>

<br />

<% if session[:edit] %>
<%= link_to 'Invite Club', new_invitation_path(:competition_id => @competition) %>
<% end %>
