<h3>Registered Swimmers (<%= club.symbol %>)</h3>

<table>
<tr>
<td>Swimmer</td>
      <% @competition.events.each do |event| %>
        <th><span title="<%= event.pos %>. <%= event.discipline.name %>"><%= sprintf("%02d", event.pos) %></span></th>
      <% end %>
</tr>
<% @competition.registrations.select { |x| x.club == club }.each do |registration| %>
<% swimmer = registration.swimmer %>
  <tr>
      <td><%= link_to swimmer.name, swimmer %> [<%= registration.age %>]</td>
      <% @competition.events.each do |event| %>
        <td align="center">
	<% entry = registration.entries.where(:event_id => event).first %>
	<% if entry %>
          <%= link_to entry, entry %>
	<% elsif event.permits?(swimmer) %>
	  <%= link_to (raw "&square;"), new_entry_path(:event_id => event.id, :registration_id => registration.id) %> 
        <% end %>
        </td>
      <% end %>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Register Swimmers', registrations_path(:competition_id => @competition,  :club_id => club) %>
