<p id="notice"><%= notice %></p>

<h3><%= link_to 'Competitions', competitions_path %></h3>

<h1><%= @competition.name %></h1>

<p>
  <%= @competition.location %>
(<%= @competition.date %>)
</p>

<% relay_count = @competition.invitations.map { |x| x.relays.count }.sum %>
<% relay_text = (relay_count > 0 ? " and #{pluralize(relay_count, 'relay entry')}" : "") %>
<%= pluralize(@competition.invitations.count, 'club has', 'clubs have') %> registered
<%= pluralize(@competition.registrations.count, 'swimmer') %> for
<%= pluralize(@competition.registrations.map { |x| x.entries.count }.sum, 'individual entry') + relay_text + "." %> 

<br />
<br />
<%= render 'qualifications' %>
<br />
<br />
<%= render 'invitations' %>
<br />
<%= render 'events' %>

<hr/>
<% if can? :update, @competition %>
  <%= link_to 'Edit', edit_competition_path(@competition) %> |
<% end %>
<% if can? :destroy, @competition %>
<%= link_to 'Destroy', @competition, :confirm => 'Are you sure?', :method => :delete  %> |
<% end %>
<% if can? :update, @competition %>
<%= link_to 'Programme (pdf)', competition_path(@competition, :format => :tex), :target => "_blank" %> |
<%= link_to 'Heats (pdf)', heats_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Lanes (pdf)', lanes_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Results (pdf)', results_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<% end %>
<%= link_to 'Back', competitions_path %>
