<p id="notice"><%= notice %></p>

<h2><%= @competition.name %></h2>

<p>
  <%= @competition.location %>
(<%= @competition.date %>)
</p>

<%= @competition.invitations.count %> clubs have registered
<%= @competition.registrations.count %> swimmers for
<%= @competition.registrations.map { |x| x.entries.count }.sum %> individual entries
and 
<%= @competition.invitations.map { |x| x.relays.count }.sum %> relay entries.

<hr/>
<%= render 'qualifications' %>
<hr/>
<%= render 'invitations' %>
<hr/>
<%= render 'events' %>
<hr/>



<br />
<hr />

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Programme (pdf)', competition_path(@competition, :format => :tex), :target => "_blank" %> |
<%= link_to 'Heats (pdf)', heats_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Lanes (pdf)', lanes_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Results (pdf)', results_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Back', competitions_path %>
