<p id="notice"><%= notice %></p>

<h2><%= @competition.name %></h2>

<p>
  <%= @competition.location %>
(<%= @competition.date %>)
</p>

<%= pluralize(@competition.invitations.count, 'club has', 'clubs have') %> registered
<%= pluralize(@competition.registrations.count, 'swimmer') %> for
<%= pluralize(@competition.registrations.map { |x| x.entries.count }.sum, 'individual entry') %> 
and 
<%= @competition.invitations.map { |x| x.relays.count }.sum %> relay entries.

<hr/>
<%= render 'qualifications' %>
<hr/>
<%= render 'invitations' %>
<hr/>
<%= render 'events' %>
<hr/>



<br />
<hr />

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Destroy', @competition, :confirm => 'Are you sure?', :method => :delete  %> |
<%= link_to 'Programme (pdf)', competition_path(@competition, :format => :tex), :target => "_blank" %> |
<%= link_to 'Heats (pdf)', heats_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Lanes (pdf)', lanes_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Results (pdf)', results_path(:competition_id => @competition.id, :format => :tex), :target => "_blank" %> |
<%= link_to 'Back', competitions_path %>
