<p id="notice"><%= notice %></p>

<h2><%= @competition.name %></h2>

<p>
  <%= @competition.location %>
(<%= @competition.date %>)
</p>

<hr/>
<%= render 'qualifications' %>
<hr/>
<%= render 'invitations' %>
<hr/>
<%= render 'events' %>
<hr/>



<br />
<hr />

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Programme (pdf)', competition_path(@competition, :format => :tex) %> |
<%= link_to 'Heats (pdf)', heats_path(:competition_id => @competition.id, :format => :tex) %> |
<%= link_to 'Results (pdf)', results_path(:competition_id => @competition.id, :format => :tex) %> |
<%= link_to 'Back', competitions_path %>
