<p id="notice"><%= notice %></p>

<h2><%= @competition.name %></h2>

<p>
  <%= @competition.location %>
(<%= @competition.date %>)
</p>

<hr/>
<%= render 'qualifications' %>
<hr/>
<%= render 'events' %>
<hr/>

<% if @club %>
<%= render :partial => 'swimmers', :locals => { :club => @club } %>
<hr/>
<% end %>

<%= link_to 'Edit', edit_competition_path(@competition) %> |
<%= link_to 'Clubs', clubs_path %> |
<%= link_to 'Back', competitions_path %>
