<% times_by_gender = @qualification.qualification_times %>
<% times_by_gender = times_by_gender.group_by(&:gender)[@gender] %>
<% times_by_gender = times_by_gender.group_by(&:age_min)[@age] %>
  <% times_by_gender.group_by(&:age_range).sort_by { |key, value| key.first }.each do |ages, times_by_ages| %>
    <% if times_by_ages.any? %>
    <h3>
      <%= gender_word @gender %> (<%= ages_to_words(ages) %>)
    </h3>

    <table class="fact-sheet">
      <tr class="pb-hi">
        <th class="pb-tl" style="width:84px"></th>
        <% Discipline::STROKES.each do |stroke| %>
          <th style="width:84px">
            <%= short_stroke_name(stroke) %>
          </th>
        <% end %>
      </tr>
      <% times_by_ages.group_by(&:distance_course).sort_by  { |key, value| [key[0..-5].to_i, 100-key[-2].ord] }.each do |label, times_by_label| %>
        <tr class="pb-lo <%= label[-2,2] %>" align="right">
          <th>
            <%= label %>
          </th>
          <% Discipline::STROKES.each do |stroke| %>
            <td>
              <% qt = times_by_label.select { |x| x.stroke == stroke }.first %>
              <% if qt %>
                <%= link_to qt, qt %><br />
                <span style="font-size:x-small;">
                  <%= qt.fina_points %> FINA pts
                </span>
              <% end %>
            </td>
          <% end %>
        <tr>
      <% end %>
    </table>
    <% end%>
  <% end %>

<br />
