<h1>Listing qualification_times</h1>

<table>
  <tr>
    <th>Discipline</th>
    <th>Age</th>
    <th>Time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qualification.qualification_times.each do |qualification_time| %>
  <tr>
    <td><%= qualification_time.discipline.name %></td>
    <td><%= qualification_time.age_min %> - <%= qualification_time.age_max %></td>
    <td><%= time_to_msc(qualification_time.time) %></td>
    <td><%= link_to 'Show', qualification_time %></td>
    <td><%= link_to 'Edit', edit_qualification_time_path(qualification_time, :qualification_id => @qualification) %></td>
    <td><%= link_to 'Destroy', qualification_time, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qualification time', new_qualification_time_path(:qualification_id => @qualification) %>
