<% @qualification.courses.each do |course| %>
<% @qualification.genders.each do |gender| %>
<table class="qualification">
<tr>
<th><%= {'f' => "Female", 'm' => "Male"}[gender] %> (<%= course %>)</th>
<% @qualification.age_ranges.each do |ages| %>
  <th><%= ages_to_s(ages) %></th>
<% end %>
</tr>
<% @qualification.filter_disciplines(gender, course).each do |discipline| %>
<tr>
<th class="discipline"><%= discipline.stroke %> <%= discipline.distance %>m</th>
<% @qualification.age_ranges.each do |ages| %>
  <td align="right"><%= t = @qualification.filter_time(discipline, ages) 
                        t ? (link_to t, t) : nil %></td>
<% end %>
</tr>
<% end %>
</table>
<% end %>
<% end %>

<br />

<%= link_to 'New Qualification time', new_qualification_time_path(:qualification_id => @qualification) %>
