<p id="notice"><%= notice %></p>

<h2>
  <%= @qualification.name %> Times
</h2>

<hr />
<%= render 'qualification_times' %>
<hr />


<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<%= link_to 'Back', qualifications_path %>
