<p id="notice"><%= notice %></p>

<h2>
  <%= @qualification.name %> Times
</h2>

<hr />
<%= render 'qualification_times' %>
<hr />

<br/>
<br/>

<% @qualification.genders.each do |gender| %>
  <% @qualification.age_ranges(gender).each do |ages| %>
    <% table = @qualification.to_table(gender, ages.first) %>
    <% if table %>
    <h3>
      <%= table[:title] %> (<%= ages_to_words(ages) %>)
    </h3>

    <table class="fact-sheet">
      <tr class="times-major">
        <th></th>
        <% table[:heads].each do |head| %>
          <th style="width:80px">
            <%= truncate(head, :length => 9) %>
          </th>
        <% end %>
      </tr>
      <% table[:body].each do |row| %>
        <tr class="times-major">
          <th>
            <%= row[:label] %>
          </th>
          <% row[:list].each do |qt| %>
            <td align="right"><%= qt %></td>
          <% end %>
        <tr>
      <% end %>
    </table>
    <% end%>
  <% end %>
<% end %>

<br />
<hr />

<% if session[:edit] %>
<%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<% end %>
<%= link_to 'Back', qualifications_path %>
