<h3><%= link_to 'Qualifications', qualifications_path %></h3>

<h1>
  <%= @qualification.name %> Times
</h1>

<% if @qualification.source.present? %>
<p>
<b>Source:</b> 
<%= link_to @qualification.source, @qualification.source_url %>,
<%= @qualification.source_date %>.
</p>
<% end %>

<% if @qualification.description.present? %>
<p>
 <%= @qualification.description %>
</p>
<% end %>

<hr />
<%= render 'qualification_times' %>
<hr />

<br/>
<br/>

<% @qualification.qualification_times.group_by(&:gender).each do |gender, times_by_gender| %>
  <% times_by_gender.group_by(&:age_range).sort_by { |key, value| key.first }.each do |ages, times_by_ages| %>
    <% if times_by_ages.any? %>
    <h3>
      <%= gender_word gender %> (<%= ages_to_words(ages) %>)
    </h3>

    <table class="fact-sheet">
      <tr class="pb-hi">
        <th class="pb-tl" style="width:84px"></th>
        <% Discipline::STROKES.each do |stroke| %>
          <th style="width:84px">
            <%= short_stroke_name(stroke) %>
          </th>
        <% end %>
      </tr>
      <% times_by_ages.group_by(&:distance_course).sort_by  { |key, value| [key[0..-5].to_i, 100-key[-2].ord] }.each do |label, times_by_label| %>
        <tr class="pb-lo" align="right">
          <th>
            <%= label %>
          </th>
          <% Discipline::STROKES.each do |stroke| %>
            <td>
              <% qt = times_by_label.select { |x| x.stroke == stroke }.first %>
              <%= content_tag(:span, qt, :title => "#{qt.fina_points}") if qt %>
            </td>
          <% end %>
        <tr>
      <% end %>
    </table>
    <% end%>
  <% end %>
<% end %>

<br />
<hr />

<% if can? :update, @qualification %>
  <%= link_to 'Edit', edit_qualification_path(@qualification) %> |
<% end %>
<% if can? :destroy, @qualification %>
  <%= link_to 'Destroy', @qualification, :confirm => 'Are you sure?', :method => :delete  %> |
<% end %>
<%= link_to 'Back', qualifications_path %>
