<div id="main">
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<table>
  <tr>
    <td>Sign in count:</td>
    <td><%= @user.sign_in_count %></td>
  </tr>
  <tr>
    <td>Signed in since:</td>
    <td><%= @user.current_sign_in_at %></td>
    <td>from:</td>
    <td><%= @user.current_sign_in_ip %></td>
  </tr>
  <tr>
    <td>Last signed in:</td>
    <td><%= @user.last_sign_in_at %></td>
    <td>from:</td>
    <td><%= @user.last_sign_in_ip %></td>
  </tr>
</table>

<h3 class="edit-head"><%= 'Role'.pluralize @user.roles.count %></h3>
<div class="edit">
<%= link_to '[+]', new_assignment_path(:user_id => @user) %>
</div>
<ul>
<% @user.assignments.each do |assignment| %>
<li>
<%= link_to assignment.role, assignment.role %>
<div class="edit">
<%= link_to '[-]', assignment, :confirm => 'Are you sure?', :method => :delete %>
</div>
</li>
<% end %>
</ul>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
