<p id="notice"><%= notice %></p>

<h4><%= @user.name %> (<%= @user.email %>)</h4>

<hr/>

<% if  @user.supports.any? %>
<h3>Supports:</h3>
<ul>
<% @user.swimmers.each do |swimmer| %>
<li>
<%= link_to swimmer.first_last, swimmer %>
(<%= link_to swimmer.club.symbol, swimmer.club %>)
</li>
<% end %>
</ul>
<hr/>
<% end %>

<% if session[:edit] %>
<%= link_to 'Support', new_support_path(:user_id => @user) %> |
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', @user, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', home_path %>
