<%= form_for(@registration) do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registration.errors.count, "error") %> prohibited this registration from being saved:</h2>

      <ul>
      <% @registration.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<h3><%= @registration.competition.name %> (<%= @registration.competition.date %>)</h3>

<h1><%= @registration.swimmer.name %></h1>

  <%= f.hidden_field :invitation_id %>
  <%= f.hidden_field :swimmer_id %>

  <div class="field">
    <%= f.label :age %><br />
    <%= f.text_field :age %>
  </div>
  <div class="field">
    <%= f.label :club_id, "Club" %><br />
    <%= f.select :club_id, Club.all.map{ |x| [x.name, x.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
