<p id="notice"><%= notice %></p>

<h1>Registrations.</h1>

<h2><%= @competition.name %></h2>
<%= @competition.location %>,
<%= @competition.date %> 

<h2><%= @club.name %>.</h2>

<%= form_for @competition do |f| %>
    <%= hidden_field_tag :club_id, @club.id %>
    <% @club.swimmers.each do |swimmer| %>
        <%= check_box_tag("competition[swimmer_ids][]", swimmer.id,
        @competition.swimmers.include?(swimmer)) %>
        <%= swimmer.name %> <br />
    <% end %>
    <%= f.submit "Submit Registrations" %>
<% end %>

<br />
