<p id="notice"><%= notice %></p>

<p>
  <b>Invitation:</b>
  <%= @registration.invitation_id %>
</p>

<p>
  <b>Swimmer:</b>
  <%= @registration.swimmer_id %>
</p>


<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', registrations_path %>
