<p id="notice"><%= notice %></p>


<h3><%= link_to @registration.competition.name, @registration.competition %> (<%= @registration.competition.location %>, <%= @registration.competition.date %>)</h3>
<h1><%= link_to @registration.swimmer.name, @registration.swimmer %> (<%= link_to @registration.club.symbol, @registration.invitation %>)</h1>

<div>
  <b>Age (F/M):</b>
  <%= @registration.age %> (<%= @registration.swimmer.gender.upcase %>),
  <b>ID:</b>
  <%= @registration.swimmer.registration %>.
<div>
<br>
<br>

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Event</th>
    <th>Plc</th>
    <th>Result</th>
    <th>(Seed)</th>
  </tr>
  <% @registration.entries.each do |entry| %>
    <tr class="times-major">
      <th><%= link_to entry.event.pos, entry.event %>.</th>
      <th><%= entry.discipline.nickname %></th>
      <td style="text-align: right;"><%= "#{entry.result.place}." if entry.result.place %></td>
      <td style="text-align: right;">
        <%= link_to(entry.result, results_path(:discipline_id => entry.discipline.id, :swimmer_id => @registration.swimmer.id)) if entry.result %>
      </td>
      <td style="text-align: right;">(<%= entry %>)</td>
    </tr>
  <% end %>
</table>
<hr>
<% if user_session[:edit] %>
<%= link_to 'Edit', edit_registration_path(@registration) %> |
<% end %>
<%= link_to 'Back', @registration.invitation %>
