<p id="notice"><%= notice %></p>

<h2><%= @registration.swimmer.name %></h2>

<h3><%= @registration.competition.name %> (<%= @registration.competition.date %>)</h3>


<p>
  <b>Age:</b>
  <%= @registration.age %>
</p>

<p>
  <b>Club:</b>
  <%= @registration.club.name %>
</p>

<%= link_to 'Edit', edit_registration_path(@registration) %> |
<%= link_to 'Back', @registration.invitation %>
