<p id="notice"><%= notice %></p>

<h1>Welcome to the World of Competitive Swimming.</h1>

<p>It's now <%= @time.strftime('%H:%M:%S (%Z) on %A, %B %d, %Y') %>.</p>

<% if @birthdays.any? %>
  <p>
   Happy Birthday <%= @birthdays.map { |birthday| birthday.first }.to_sentence %>.
  </p>
<% end %>

<p>
From here you can access:
<ul>
<li>List <%= link_to "Clubs", clubs_path %>;</li>
<li>List <%= link_to "Competitions", competitions_path %>;</li>
<li>List <%= link_to "Qualifications", qualifications_path %>.</li>
</ul>
Enjoy!
</p>

<p>Send questions and feedback to <%= mail_to "bluefin.sc@gmail.com" %>.</p>
<% 25.times do %>
 <br />
<% end %>
