<h1><%= image_tag('santa-hat.png', :size => '120x90') if @time.month == 12 %>Welcome ...</h1>
<h2>... to the Blue Fin World of Competitive Swimming.</h2>

<p>It's now <%= @time.strftime('%H:%M:%S (%Z) on %A, %B %d, %Y') %>.</p>

<% if @birthdays.any? %>
  <p>
<%= image_tag('balloons.png', :align => 'middle', :width => '30') %>
   Happy Birthday to <%= @birthdays.map { |birthday| birthday.first_last }.to_sentence %>!
<%= image_tag('balloons.png', :align => 'middle', :width => '30') %>
  </p>
<% end %>

<% events = Competition.all.group_by(&:relative_date) %>

<% if events[:future].present? %>
<h3>Upcoming Events</h3>
<ul>
<% events[:future].each do |competition| %>
<li>
<%= link_to competition.name, competition %>, <%= competition.location %>
: only <%= time_ago_in_words(competition.date) %> to go ...
</li>
<% end %>
</ul>
<% end %>

<% if events[:current].present? %>
<h3>Today's Events</h3>
<ul>
<% events[:current].each do |competition| %>
<li>
<%= link_to competition.name, competition %>, <%= competition.location %>
</li>
<% end %>
</ul>
<% end %>

<% if events[:recent].present? %>
<h3>Recent Events</h3>
<ul>
<% events[:recent].last(3).reverse_each do |competition| %>
<li>
<%= link_to competition.name, competition %>, <%= competition.location %>
: <%= time_ago_in_words(competition.date + competition.length) %> ago ...
</li>
<% end %>
</ul>
<% end %>

<br />
<p>
From here you can access:
<ul>
<li><%= Club.count %> <%= link_to "Clubs", clubs_path %>;</li>
<li><%= Competition.count %> <%= link_to "Competitions", competitions_path %>;</li>
<li><%= Discipline.count %> <%= link_to "Disciplines", disciplines_path %>;</li>
<li><%= Qualification.count %> <%= link_to "Qualifications", qualifications_path %>.</li>
</ul>
Enjoy!
</p>

<p>Send questions and feedback to <%= mail_to "galaman.mailer@gmail.com" %>.</p>

<p>Visit the <%= link_to 'BlueFin Home Page', 'http://bluefinswimmingclub.com' %>.</p>

<div><div id="520160618533218374" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml"><iframe src="https://www.google.com/calendar/embed?src=bluefin.galasecretary%40gmail.com&ctz=Europe/Dublin" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe></div>


<% 25.times do %>
  <br />
<% end %>
