<% content_for :level do %>
  <h3><%= @event.competition.name %></h3>
  <ul><%= render :partial => "level_event", :collection => @event.competition.events %></ul>
<% end %>

<%= render 'events/navigation' %> 

<% if can? :update, @event %>
  <div style="float:right">
    <%= button_to 'Sort!', list_event_path(@event) %>
  </div>
<% end %>

<h2>Results.</h2>

<% @event.qualification_age_ranges.sort_by(&:min).each do |ages| %>
  <% results = @event.listed_results(ages) %>
  <% if not results.empty? %>

    <hr />
    <h3><%= ages_to_words(ages) %></h3>

    <table class="fact-sheet">
      <tr class="fact-major">
        <th style="width:50px">Plc</th>
        <th style="width:175px">Name</th>
        <th>Age</th>
        <th>Team</th>
        <th style="width:75px">(Seed)</th>
        <th></th>
        <th style="width:75px">Result</th>
        <th></th>
      </tr>
      <%= render results %>
    </table>

  <% end %>
<% end %>

<br />
<hr />

<%= link_to 'Print', results_path(:event_id => @event, :format => :tex), :target => "_blank" %> 

<br />
<hr />
