<p id="notice"><%= notice %></p>

<h1>Event <%= @event.pos %>: <%= @event.discipline.to_words %></h1>

<% @event.qualification_age_ranges.each do |ages| %>
  <% results = @event.listed_results(ages) %>
  <% if not results.empty? %>

    <h2><%= ages_to_words(ages) %></h2>

    <table class="fact-sheet">
      <tr class="fact-major">
        <th style="width:50px">Plc</th>
        <th style="width:175px">Name</th>
        <th>Age</th>
        <th>Team</th>
        <th style="width:75px">Result</th>
        <th></th>
      </tr>
      <%= render results %>
    </table>

  <% end %>
<% end %>

<br />
<hr />

<%= link_to 'Entries', @event %> |
<%= link_to 'Heats', heats_path(:event_id => @event) %> |
<%= link_to 'Print', results_path(:event_id => @event, :format => :tex), :target => "_blank" %> |
<%= link_to 'Back', @event.competition %>
