<%= form_for(@result) do |f| %>
  <% if @result.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@result.errors.count, "error") %> prohibited this result from being saved:</h2>

      <ul>
      <% @result.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :entry_id %>

  <h2><%= @result.entry.event.competition.name %></h2>
  <h3><%= @result.entry.event.discipline.name %></h3>

  <h1><%= @result.entry.swimmer.name %> (<%= @result.entry.swimmer.club.symbol %>)</h1>

  <p>Seed Time: <%= @result.entry %></p>

  <div class="field">
    <%= f.label :time, "Result" %>
    <%= f.text_field :mins, :size => 2 %>:<%= f.text_field :secs, :size => 2 %>.<%= f.text_field :centis, :size => 2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
