<p id="notice"><%= notice %></p>

<h1>Event <%= @event.pos %>: <%= @event.discipline.name %></h1>

<% @event.competition.qualifications.first.age_ranges.each do |ages| %>

<table class="fact-sheet">
<tr class="fact-major">
<th>Heat</th>
<th>Lane</th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>

<%= render @results.select { |x| ages.include? x.entry.swimmer.age(@event.competition.date) }.sort_by(&:time).map{ |x| x.entry } %>

</table>

<% end %>

<br />
<hr />

<%= link_to 'Entries', @event %> |
<%= link_to 'Heats', heats_path(:event_id => @event) %> |
<%= link_to 'Results', results_path(:event_id => @event) %> |
<%= link_to 'Back', @event.competition %>
