<p id="notice"><%= notice %></p>

<p>
  <b>Entry:</b>
  <%= @result.entry_id %>
</p>

<p>
  <b>Time:</b>
  <%= @result.time %>
</p>


<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Back', results_path %>
