<p id="notice"><%= notice %></p>

  <h2><%= @result.entry.event.competition.name %></h2>
  <h3><%= @result.entry.event.discipline.name %></h3>

  <h1><%= @result.entry.name %> (<%= @result.entry.club.symbol %>)</h1>

  <p>Seed Time: <%= @result.entry %></p>

<hr />

<p>
  <b>Time:</b>
  <%= @result %>
</p>

<p>
  <b>Comment:</b>
  <%= @result.comment %>
</p>

<p>
  <b>Place:</b>
  <%= @result.place %>
</p>


<% if session[:edit] %>
<%= link_to 'Edit', edit_result_path(@result) %> |
<%= link_to 'Destroy', @result, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Add to Profile', copy_result_path(:user_id => session[:user_id]) %> |
<% end %>
<%= link_to 'Back', @result.entry.event %>
