<h1><%= link_to @event.competition.name, @event.competition %></h1>
<p>
  <%= @event.competition.location %>
  (<%= @event.competition.date %>)
</p>

<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :competition_id %>

  <fieldset class="white">
    <legend class="white"><%= f.label :pos, "Event" %></legend>
    <b>Number</b>
    <%= f.select :pos, available_poss(@event.competition, @event) %>
    <% if @event.competition.length > 1 %>
      <div style="float:right">
        <b>Day</b>
        <% @event.competition.days.each do |day| %>
          <%= f.label :day, day %>
          <%= f.radio_button :day, day %>
        <% end %>
      </div>
    <% end %>
  </fieldset>
  <br />
  <fieldset class="white">
    <legend class="white"><%= f.label :discipline_id %></legend>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Gender</th><tr>
    <% Swimmer::GENDERS.each do |gender| %>
      <tr><td align="right"><%= f.label :gender, gender.upcase %></td>
      <td><%= f.radio_button :gender, gender %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Distance</th><tr>
    <% Discipline::DISTANCES.each do |distance| %>
      <tr><td align="right"><%= f.label :distance, distance %></td>
      <td><%= f.radio_button :distance, distance %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Course</th><tr>
    <% Discipline::COURSES.each do |course| %>
      <tr><td align="right"><%= f.label :course, course %></td>
      <td><%= f.radio_button :course, course %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Stroke</th><tr>
    <% Discipline::STROKES.each do |stroke| %>
      <tr><td align="right"><%= f.label :stroke, stroke %></td>
      <td><%= f.radio_button :stroke, stroke %></td></tr>
    <% end %>
    </table>
  </div>
  <div style="float:left">
    <table style="vertical-align:top">
    <tr><th colspan="2">Mode</th><tr>
    <% Discipline::MODES.each do |mode| %>
      <tr><td align="right"><%= f.label :mode, mode %></td>
      <td><%= f.radio_button :mode, mode %></td></tr>
    <% end %>
    </table>
  </div>
  <br style="clear:left" />
  </fieldset>
  <br />  
  <fieldset class="white">
    <legend class="white">Age Range</legend>
    <%= f.label :age_min, "from" %>
    <%= f.text_field :age_min, :size => 2 %>
    <%= f.label :age_max, "to" %>
    <%= f.text_field :age_max, :size => 2 %>
  </fieldset>
  <br />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
