<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :competition_id %>

  <h3><%= @event.competition.name %></h3>

  <div class="field">
    <%= f.label :pos, "Event No." %>
    <%= f.select :pos, available_poss(@event.competition, @event) %>
  </div>
  <div class="field">
    <%= f.label :discipline_id %><br />
    <table style="display: inline">
    <tr><th colspan="2">Gender</th><tr>
    <% Swimmer::GENDERS.each do |gender| %>
      <tr><td align="right"><%= f.label :gender, gender.upcase %></td>
      <td><%= f.radio_button :gender, gender %></td></tr>
    <% end %>
    </table>
    <table style="display: inline">
    <tr><th colspan="2">Distance</th><tr>
    <% Discipline::DISTANCES.each do |distance| %>
      <tr><td align="right"><%= f.label :distance, distance %></td>
      <td><%= f.radio_button :distance, distance %></td></tr>
    <% end %>
    </table>
    <table style="display: inline">
    <tr><th colspan="2">Course</th><tr>
    <% Discipline::COURSES.each do |course| %>
      <tr><td align="right"><%= f.label :course, course %></td>
      <td><%= f.radio_button :course, course %></td></tr>
    <% end %>
    </table>
    <table style="display: inline">
    <tr><th colspan="2">Stroke</th><tr>
    <% Discipline::STROKES.each do |stroke| %>
      <tr><td align="right"><%= f.label :stroke, stroke %></td>
      <td><%= f.radio_button :stroke, stroke %></td></tr>
    <% end %>
    </table>
    <table style="display: inline">
    <tr><th colspan="2">Mode</th><tr>
    <% Discipline::MODES.each do |mode| %>
      <tr><td align="right"><%= f.label :mode, mode %></td>
      <td><%= f.radio_button :mode, mode %></td></tr>
    <% end %>
    </table>
  </div>
  <div class="field">
    <%= f.label :age_min, "Age from" %>
    <%= f.text_field :age_min, :size => 2 %>
    <%= f.label :age_max, "to" %>
    <%= f.text_field :age_max, :size => 2 %>
  </div>
  <div class="field">
    <%= f.label :date %><br />
    <%= f.date_select :date, :order => [:day, :month, :year] %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
