<%= form_for(@event) do |f| %>
  <% if @event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% @event.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :competition_id %>

  <h3><%= @event.competition.name %></h3>

  <div class="field">
    <%= f.label :pos, "Event No." %>
    <%= f.select :pos, available_poss(@event.competition) %>
  </div>
  <div class="field">
    <%= f.label :discipline_id %><br />
    <%= f.select :gender, Swimmer::GENDERS, :include_blank => true %>
    <%= f.select :distance, Discipline::DISTANCES, :include_blank => true %>
    <%= f.select :course, Discipline::COURSES %>
    <%= f.select :stroke, Discipline::STROKES, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :age_min, "Age from" %>
    <%= f.text_field :age_min, :size => 2 %>
    <%= f.label :age_max, "to" %>
    <%= f.text_field :age_max, :size => 2 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
