<h3>Heat 1</h3>


<table>
<tr>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>
<% @event.swimmers.each do |swimmer| %>
  <tr>
      <td><%= link_to swimmer.name, swimmer %></td>
      <td align="right"><%= swimmer.age(@event.competition.date) %></td>
      <td><%= swimmer.club.symbol %></td>
      <td align="right"><%= Entry.where(:event_id => @event.id, :swimmer_id => swimmer.id).first %></td>
      <td>
        <%= text_field_tag("event[mins][]", 
	Entry.where(:event_id => @event.id, :swimmer_id => swimmer.id).first.mins,
        { :size => 2 } ) %>
        <%= text_field_tag("event[secs][]", 
	Entry.where(:event_id => @event.id, :swimmer_id => swimmer.id).first.secs,
        { :size => 2 } ) %>
        <%= text_field_tag("event[centis][]", 
	Entry.where(:event_id => @event.id, :swimmer_id => swimmer.id).first.centis,
        { :size => 2 } ) %>
      </td>
  </tr>
<% end %>
</table>

<br />

