<p id="notice"><%= notice %></p>

<h2>
  <%= @event.competition.name %>
</h2>

<h3>
  Event <%= @event.pos %>.
  <%= @event.discipline.name %>
  : <%= @event.age_min %> -
  <%= @event.age_max %> years
</h3>

<hr />
<%= render 'swimmers' %>
<hr />


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', @event.competition %>
