<p id="notice"><%= notice %></p>

<%= render 'navigation' %>

<h2>Entries.</h2>

<table class="fact-sheet">

<tr class="fact-major">
<th></th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>
<% @event.seeded_entries.each_with_index do |entry, index| %>
  <%= render :partial => 'events/entry', :object => entry, :locals => { :index => index } %>
<% end %>
</table>

<br />
<hr />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Seed', new_heat_path(:event_id => @event) %> 

<br />
<hr />
