<p id="notice"><%= notice %></p>

<%= render 'navigation' %>

<%# FIXME: prepare this table in controller/model ...%>
<% times = @event.qualification_times %>
<% if times.any? %>
<% names = times.map { |x| x.qualification.name }.uniq %>
<% ranges = times.map { |x| x.age_range }.uniq %>
<table class="fact-sheet">
<tr class="fact-major">
<th>Age Range</th>
<% names.each do |name| %>
<th><%= name %></th>
<% end %>
</tr>
<% ranges.each do |range| %>
<tr class="fact-major">
<td><%= ages_to_words(range) %></td>
<% names.each do |name| %>
<td><%= times.select { |x| x.age_range == range and x.qualification.name == name }[0] %></td>
<% end %>
</tr>
<% end %>
</table>
<% end%>


<h2>Entries.</h2>

<table class="fact-sheet">

<tr class="fact-major">
<th></th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>
<% @event.seeded_entries.each_with_index do |entry, index| %>
  <%= render :partial => 'events/entry', :object => entry, :locals => { :index => index } %>
<% end %>
</table>

<br />
<hr />

<% if user_session[:edit] %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Seed', new_heat_path(:event_id => @event) %>  |
<% end %>
<%= link_to 'Back', @event.competition %>
