<p id="notice"><%= notice %></p>

<h2>
  <%= @event.competition.name %>
</h2>

<h3>
  Event <%= @event.pos %>.
  <%= @event.discipline.name %>: 
  <%= ages_to_words(@event.age_range) %>
</h3>

<table class="fact-sheet">
<tr class="fact-major">
<th></th>
<th>Name</th>
<th>Age</th>
<th>Team</th>
<th>Seed Time</th>
<th>Result</th>
</tr>
<% @event.seeded_entries.each_with_index do |entry, index| %>
  <%= render :partial => 'events/entry', :object => entry, :locals => { :index => index } %>
<% end %>
</table>

<br />
<hr />

<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Seed', new_heat_path(:event_id => @event) %> |
<% if @event.seeded? %>
  <%= link_to 'Heats', heats_path(:event_id => @event) %> 
<% else %>
  Heats
<% end %> |
<%= link_to 'List', list_event_path(@event), :confirm => 'Are you sure?' %> |
<%= link_to 'Results', results_path(:event_id => @event) %> |
<%= link_to 'Back', @event.competition %>
