<p id="notice"><%= notice %></p>

<p>
  <b>Competition:</b>
  <%= @event.competition.name %>
</p>

<p>
  <b>Discipline:</b>
  <%= @event.discipline.name %>
</p>

<p>
  <b>Position:</b>
  <%= @event.pos %>
</p>

<p>
  <b>Age Group:</b>
  <%= @event.age_min %> -
  <%= @event.age_max %> years
</p>


<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', @event.competition %>
