<p id="notice"><%= notice %></p>


<h3><%= @aim.swimmer.first_last %>'s Aim</h3>

<p>
  <b>Qualification:</b>
  <%= @aim.qualification.name %>
</p>

<p>
  <b>Date:</b>
  <%= @aim.date %>
</p>


<%= link_to 'Edit', edit_aim_path(@aim) %> |
<%= link_to 'Destroy', @aim, :confirm => 'Are you sure?', :method => :delete %> |
<%= link_to 'Back', @aim.swimmer %>
