<%= form_for(@rating) do |f| %>
  <% if @rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr>
    <th></th>
    <% (0..10).each do |i| %>
      <th><%= i %></th>
    <% end %>
  </tr>
  <% colors = ["lightgreen", "lightblue"] %>
  <% Rating::COMPONENTS.each_with_index do |component, index| %>
    <%= content_tag :tr, :style => "background: #{colors[index % 2]}", :title => component[:description] do %>
      <td style="text-align: right;"><%= f.label component[:name] %></td>
      <% (0..10).each do |scale| %>
        <td><%= f.radio_button component[:name], scale %></td>
      <% end %>
    <% end %>
  <% end %>
  <tr>
   <th></th>
   <% (0..10).each do |i| %>
     <th><%= i %></th>
   <% end %>
  </tr>
</table>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
