<h3><%= link_to @rating.profile.name, @rating.profile %></h3>
<h1>Rating</h1>

  <table>
    <% Rating::COMPONENTS.each do |component| %>
    <tr>
      <td>
	<%= content_tag :span, :title => component[:description] do %>
	<b><%= component[:name].to_s.humanize %></b>
	<% end %>
      </td>
      <td><%= @rating[component[:name]] %></td>
    </tr>
    <% end %>
  </table>
  
<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', @rating.profile %>
