<%= form_for(@invitation) do |f| %>
  <% if @invitation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@invitation.errors.count, "error") %> prohibited this invitation from being saved:</h2>

      <ul>
      <% @invitation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= @invitation.competition.name %></h2>
  
  <%= f.hidden_field :competition_id %>

   <div class="field">
    <%= f.label :club_id %><br />
    <%= f.select :club_id, (Club.all - @invitation.competition.invitations.map { |x| x.club }).map{ |x| [x.name, x.id] } %>
   </div>
   <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
