<% events = @competition.relay_events %>
<h3>Relay Teams (<%= club.symbol %>)</h3>

<table class="fact-sheet">
  <tr class="times-major">
    <th></th>
    <th>Name</th>
    <th>F/M</th>
    <th>Ages</th>
    <% events.each do |event| %>
      <th><span title="<%= event.pos %>. <%= event.discipline.name %>"><%= sprintf("%02d", event.pos) %></span></th>
    <% end %>
  </tr>
  <% @invitation.relays.each_with_index do |relay, index| %>
  <tr class="times-major">
      <td>R<%= index + 1 %></td>
      <td><%= link_to relay.name, relay %></td>
      <td><%= relay.gender.upcase %></td>
      <td align="right"><%= ages_to_words(relay.age_range) %></td>
      <% events.each do |event| %>
        <td align="center">
	<% entry = Entry.find_by_event_id_and_relay_id(event, relay) %>
	<% if entry %>
          <%= link_to entry, entry %>
	<% elsif event.permits_relay? relay %>
	  <%= link_to (raw "&square;"), new_entry_path(:event_id => event.id, :relay_id => relay.id) %> 
        <% end %>
        </td>
      <% end %>
  </tr>
  <% end %>
</table>
<br />
<br />

<%= link_to 'Add Relay Team', new_relay_path(:invitation_id => @invitation) %>
