<% events_by_gender = @invitation.competition.individual_events.group_by(&:gender) %>
<% registrations_by_gender = @invitation.registrations.group_by(&:gender) %>
<% relays_by_gender = @invitation.relays.group_by(&:gender) %>

<% Swimmer::GENDERS.each do |sex| %>
  <% events = events_by_gender[sex] || [] %>
  <% registrations = registrations_by_gender[sex] || [] %>
  <% relays = relays_by_gender[sex] || [] %>
  <table class="fact-sheet">
    <tr class="times-major">
      <th>Swimmer (<%= sex.upcase %>)</th>
      <th>Birthday</th>
      <th>Age</th>
      <% events.each do |event| %>
        <th>
          <span title="<%= event.pos %>. <%= event.discipline.name %>">
            <%= event.pos %>. <%= event.discipline.distance %>m
            <br />
            <%= short_stroke_name(event.discipline.stroke) %>
          </span>
        </th>
      <% end %>
      <% relays.each do |relay| %>
        <th>
          <%= content_tag :span, :title => relay.name do %>
            R<%= @invitation.relays.index(relay) + 1 %>
          <% end %> 
        </th>
      <% end %>
    </tr>
    <% registrations.sort_by(&:name).each do |registration| %>
      <% swimmer = registration.swimmer %>
      <% entries_by_event = registration.entries.index_by(&:event) %>
      <tr class="times-major">
        <td><%= link_to swimmer.name, registration %></td>
        <td><%= swimmer.birthday %></td>
        <td align="right"><%= registration.age %></td>
        <% events.each do |event| %>
          <% entry = entries_by_event[event] %>
          <td align="center">
	  <% if entry %>
            <%= link_to entry, entry %>
	  <% else %>
            <% if can?(:update, registration) and event.permits? registration %>
              <%= link_to (raw "&square;"), new_entry_path(:event_id => event, :subject_id => registration, :subject_type => "Registration") %> 
            <% end %>
          <% end %>
          </td>
        <% end %>
        <% relays.each do |relay| %>
          <td align="center">
            <% seat = Seat.find_by_registration_id_and_relay_id(registration, relay) %>
	    <% if seat %>
              <%= link_to 'X', seat %>
	    <% elsif relay.permits? registration %>
	      <%= link_to '_', new_seat_path(:relay_id => relay.id, :registration_id => registration.id) %> 
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </table>
  <br />
  <br />
<% end %>

<% if can? :update, @invitation %>
  <%= link_to 'Register Swimmers', registrations_path(:invitation_id => @invitation) %>
<% end %>
