<h3>Registered Swimmers (<%= club.symbol %>)</h3>

<% Swimmer::GENDERS.each do |sex| %>

<table class="fact-sheet">
  <tr class="times-major">
    <th>Swimmer</th>
    <th>Birthday</th>
    <th>Age</th>
    <% @competition.events.select { |x| x.gender == sex }.each do |event| %>
      <th><span title="<%= event.pos %>. <%= event.discipline.name %>"><%= sprintf("%02d", event.pos) %></span></th>
    <% end %>
  </tr>
<% @invitation.registrations.select { |x| x.gender == sex }.sort_by { |x| x.swimmer.name }.each do |registration| %>
  <% swimmer = registration.swimmer %>
  <tr class="times-major">
      <td><%= link_to swimmer.name, swimmer %></td>
      <td><%= swimmer.birthday %></td>
      <td align="right"><%= registration.age %></td>
      <% @competition.events.select { |x| x.gender == sex }.each do |event| %>
        <td align="center">
	<% entry = registration.entries.where(:event_id => event).first %>
	<% if entry %>
          <%= link_to entry, entry %>
	<% elsif event.permits? registration %>
	  <%= link_to (raw "&square;"), new_entry_path(:event_id => event.id, :registration_id => registration.id) %> 
        <% end %>
        </td>
      <% end %>
  </tr>
<% end %>
</table>
<br />
<br />
<% end %>

<%= link_to 'Register Swimmers', registrations_path(:invitation_id => @invitation) %>
