<p id="notice"><%= notice %></p>


<h3>
  <%= link_to @competition.name, @competition %>
  (<%= @competition.location %>, <%= @competition.date %>)
</h3>

<h1><%= link_to @club.name, @club %></h1>

<p>
<% nr_relays = @invitation.relays.map { |x| x.entries.count }.sum %>
<%= @invitation.registrations.count %> swimmers registered
for <%= @invitation.registrations.map { |x| x.entries.count }.sum %> individual events in 
<% if nr_relays > 0 %>
total and
<%= nr_relays %> relay events.
<% else %>
total.
<% end %>
</p>

<hr/>
<h3>Qualifications</h3>
<%= @competition.qualifications.map { |x| x.name }.to_sentence %>.
<hr/>
<h3>Events</h3>

<table class="fact-sheet">
  <%= render @competition.events %>
</table>

<br />
<hr />
<%= render :partial => 'swimmers', :locals => { :club => @club } %>

<% if @competition.relay_events.any? %>
<br />
<hr />
<%= render :partial => 'relays', :locals => { :club => @club } %>
<% end %>

<hr/>
<%= link_to 'Results', results_path(:invitation_id => @invitation) %> 
