<p id="notice"><%= notice %></p>

<h2><%= @club.name %> @ <%= @competition.name %></h2>

<p>
  <%= @competition.location %>
(<%= @competition.date %>)
</p>

<p>
<%= @invitation.registrations.count %> registered swimmers
for <%= @invitation.registrations.map { |x| x.entries.count }.sum %> events in total.
</p>

<hr/>
<h3>Qualifications</h3>
<%= @competition.qualifications.map { |x| x.name }.to_sentence %>.
<hr/>
<h3>Events</h3>

<table class="fact-sheet">
  <%= render @competition.events %>
</table>

<br />
<hr />
<%= render :partial => 'swimmers', :locals => { :club => @club } %>

<hr/>
<%= link_to 'Back to Club', @club %> |
<%= link_to 'Results', results_path(:invitation_id => @invitation) %> |
<%= link_to 'Back to Competition', @competition %>
