<% competition = @invitation.competition %>
<% club = @invitation.club %>
<h3>
  <%= link_to competition.name, competition %>
  (<%= competition.location_dates %>)
</h3>

<h1><%= link_to club.name, club %></h1>

<p>
<%= pluralize(@invitation.dockets.count, "registered swimmer") %> 
for a total of 
<%= pluralize(@invitation.i_entries_count, "individual event") -%>
<% if @invitation.relays.present? %> 
and
<%= pluralize(@invitation.r_entries_count, "relay event") -%>
<% end %>
.
</p>


<h3 class="edit-head">Qualifications:</h3>
<ul style="padding: 0; margin: 0; display: inline;">
<% competition.standards.each do |standard| %>
  <li style="list-style:none; display:inline; border: 1px solid blue; background: lightyellow; padding:2px 4px; margin: 4px; border-radius: 4px;">
    <%= link_to standard.qualification.name, standard.qualification %></li>
<% end %>
</ul>


<h3>Events</h3>

<table class="fact-sheet">
  <%= render competition.events %>
</table>

<br />

<h3>Entries</h3>

<%= render :partial => 'swimmers', :locals => { :club => club } %>

<% if competition.relay_events.any? %>
<br />
<hr />
<%= render :partial => 'relays', :locals => { :club => club } %>
<% end %>

<hr/>
<%= link_to 'Results', results_path(:invitation_id => @invitation) %> 
