<%= form_for(@split) do |f| %>
  <% if @split.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@split.errors.count, "error") %> prohibited this split from being saved:</h2>

      <ul>
      <% @split.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :time %><br />
    <%= f.number_field :time %>
  </div>
  <div class="field">
    <%= f.label :length %><br />
    <%= f.number_field :length %>
  </div>
  <div class="field">
    <%= f.label :result_id %><br />
    <%= f.number_field :result_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
