<%= form_for(@swimmer) do |f| %>
  <% if @swimmer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@swimmer.errors.count, "error") %> prohibited this swimmer from being saved:</h2>

      <ul>
      <% @swimmer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <% if f.object.new_record? %>
    <%= f.hidden_field :club_id %>
  <% else %>
  <div class="field">
    <%= f.label :club_id, "Club" %><br />
    <%= f.select :club_id, Club.all.map{ |x| [x.name, x.id] }, :include_blank => true %>
  </div>
  <% end %>

  <div class="field">
    <%= f.label :first %><br />
    <%= f.text_field :first %>
  </div>
  <div class="field">
    <%= f.label :last %><br />
    <%= f.text_field :last %>
  </div>
  <div class="field">
    <%= f.label :birthday %><br />
    <%= f.date_select :birthday,
            :default => Time.now - 10.years, 
            :end_year => Time.now.year - 5, 
            :start_year => Time.now.year - 20,
            :include_blank => true, 
            :order => [:day, :month, :year] %>
  </div>
  <div class="field">
    <%= f.label :gender %><br />
    <%= f.select :gender, Swimmer::GENDERS, :include_blank => true %>
  </div>
  <div class="field">
    <%= f.label :registration, "Swim Ireland ID" %><br />
    <%= f.text_field :registration %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
