<% if @swimmer.aims.any? %>
<h2>Aims.</h2>

<% @swimmer.aims.each do |aim| %>
    <%= link_to aim.qualification.name, aim %>
    <%= aim.date %>

    <% age = @swimmer.age(aim.date) %>
    <% gender = @swimmer.gender %>
    <% times = aim.qualification.qualification_times.select { |x| x.gender == gender and x.age_range.include? age } %>
    <% if times.any? %>
    <h3>
      <%= { 'f' => "Girls", 'm' => "Boys" }[gender] %> (<%= age %>)
    </h3>

    <table class="fact-sheet">
      <tr class="times-major">
        <th></th>
        <% Discipline::STROKES.each do |stroke| %>
          <th style="width:80px">
            <%= { 'Freestyle' => 'Free', 'Backstroke' => 'Back', 'Breaststroke' => 'Breast', 'Butterfly' => 'Fly', 'Ind Medley' => 'Medley' }[stroke] %>
          </th>
        <% end %>
      </tr>
      <% times.group_by(&:distance_course).sort_by  { |key, value| [key[0..-5].to_i, 100-key[-2].ord] }.each do |label, times_by_label| %>
        <tr class="times-major">
          <th>
            <%= label %>
          </th>
          <% Discipline::STROKES.each do |stroke| %>
            <% qt = times_by_label.select { |x| x.stroke == stroke }.first %>
            <% if qt %>
              <%= content_tag(:td, qt, :align => "right", :title => "#{qt.fina_points}") %>
            <% else %>
              <td></td>
            <% end %>
          <% end %>
        <tr>
      <% end %>
    </table>
    <% end%>
    <br />
    <br />
<% end %>

<% end %>

<% if user_session[:edit] %>
 <%= link_to 'Select Aims', new_aim_path(:swimmer_id => @swimmer) %>
<% end %>

