<tr class="fact-major">
  <td align="right"><%= swimmer.registration %></td>
  <td><%= link_to swimmer.name, swimmer %>, <%= swimmer.age %></td>
  <td><%= swimmer.birthday %></td>
<% if user_session[:edit] %>
  <td><%= link_to image_tag('delete.png', :class => "icon"), swimmer, :confirm => 'Are you sure?', :method => :delete %></td>
<% end %>
</tr>
