<h1>Listing swimmers</h1>

<table>
  <tr>
    <th>First</th>
    <th>Last</th>
    <th>Club</th>
    <th>Birthday</th>
    <th>Gender</th>
    <th>Number</th>
    <th></th>
  </tr>

<% @swimmers.each do |swimmer| %>
  <tr>
    <td><%= swimmer.first %></td>
    <td><%= swimmer.last %></td>
    <td><%= swimmer.club_id %></td>
    <td><%= swimmer.birthday %></td>
    <td><%= swimmer.gender %></td>
    <td><%= swimmer.number %></td>
    <td><%= link_to 'Show', swimmer %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Swimmer', new_swimmer_path %>
