<p id="notice"><%= notice %></p>

<h3>
  <%= @swimmer.club.name %>
</h3>

<h1>
  <%= @swimmer.name %> (<%= @swimmer.gender %>)
</h1>

<p>
  <b>Birthday:</b>
  <%= @swimmer.birthday %>
  [<%= @swimmer.age %>]
</p>

<p>
  <b>Swim Ireland ID:</b>
  <%= @swimmer.registration %>
</p>

<hr />
<%= render 'results' %>
<hr />


<%= link_to 'Edit', edit_swimmer_path(@swimmer) %> |
<%= link_to 'Back', @swimmer.club %>
