<p id="notice"><%= notice %></p>

<h2>
  <%= @swimmer.name %>
</h2>

<h3>
  <%= @swimmer.club.name %>
</h3>

<p>
  <b>Birthday:</b>
  <%= @swimmer.birthday %>
</p>

<p>
  <b>Gender:</b>
  <%= @swimmer.gender %>
</p>

<p>
  <b>Registration:</b>
  <%= @swimmer.registration %>
</p>


<%= link_to 'Edit', edit_swimmer_path(@swimmer) %> |
<%= link_to 'Back', @swimmer.club %>
