<p id="notice"><%= notice %></p>

<h3>
<%= link_to @swimmer.club.name, @swimmer.club %>
</h3>

<h1> 
  <%= @swimmer.name %>
</h1>

<p>
  <b>Age:</b>
  <%= "#{@swimmer.age}#{@swimmer.gender}" %>
  [<%= @swimmer.birthday %>].
  <b>Swim Ireland ID:</b>
  <%= @swimmer.registration %>.
</p>

<hr/>

<h2>Personal Best</h2>

<p>
<b>&rsaquo; 
Click</b> on the PB time to see the full history of <%= @swimmer.first %>'s 
results in a particular stroke.
</p>

<table class="fact-sheet">
<tr class="fact-major">
<th></th>
<% Discipline::STROKES.each do |stroke| %>
  <th style="width:96px"><%= truncate(stroke, :length => 12) %></th>
<% end %>
</tr>
<% @rows.each do |row| %>
  <tr class="times-major" align="right">
    <th><%= row[:distance] %>m <%= row[:course] %></th>
    <% Discipline::STROKES.each do |stroke| %>
      <% discipline = @results.keys.select { |discipline| discipline.stroke == stroke and discipline.distance == row[:distance] and discipline.course == row[:course] }.first %>
      <td>
        <% if discipline %>
          <% @results[discipline] = @results[discipline].sort_by { |x| x.entry.event.competition.date } %>
          <% best = best_result(@results[discipline]) %>
	  <% if best %>
            <span>
              <%= link_to best, results_path(:swimmer_id => @swimmer, :discipline_id => discipline), 'data-popup' => true %><br/>
              (<%= best.entry.event.competition.date.strftime("%d-%m-%y") %>)
            </span>
          <% end %>
        <% end %>
      </td>
    <% end %>
  </tr>
<% end %>
</table>
<br/>

<hr />

<% if session[:admin] || @swimmer.user_ids.include?(session[:user_id]) %>
<%= render 'qualifications' %>
<% end %>

<% if session[:edit] %>
<%= link_to 'Edit', edit_swimmer_path(@swimmer) %>
<% end %>
