<%= form_for(@relay) do |f| %>
  <% if @relay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@relay.errors.count, "error") %> prohibited this relay from being saved:</h2>

      <ul>
      <% @relay.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :invitation_id %>

  <h3><%= @relay.invitation.club.name %> @ <%= @relay.invitation.competition.name %></h3>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age_min, "Age from" %>
    <%= f.text_field :age_min, :size => 2  %>
    <%= f.label :age_max, "to" %>
    <%= f.text_field :age_max, :size => 2  %>
  </div>
  <div class="field">
    <%= f.label :gender %>
    <%= f.select :gender, Event::GENDERS, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
