<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @relay.name %>
</p>

<p>
  <b>Age min:</b>
  <%= @relay.age_min %>
</p>

<p>
  <b>Age max:</b>
  <%= @relay.age_max %>
</p>

<p>
  <b>Invitation:</b>
  <%= @relay.invitation_id %>
</p>


<% if user_session[:edit] %>
<%= link_to 'Edit', edit_relay_path(@relay) %> |
<%= link_to 'Destroy', @relay, :confirm => 'Are you sure?', :method => :delete %> |
<% end %>
<%= link_to 'Back', relays_path %>
