<h1>Listing surveys</h1>

<table>
  <tr>
    <th>Coach ability</th>
    <th>Athletes knowledge</th>
    <th>Technical competency</th>
    <th>Physical conditioning</th>
    <th>Strength</th>
    <th>Power</th>
    <th>Agility</th>
    <th>Balance</th>
    <th>Team work</th>
    <th>Sustainable power</th>
    <th>Confidence</th>
    <th>Time management</th>
    <th>Communication</th>
    <th>Motivation</th>
    <th>Health managment</th>
    <th>Nutrition</th>
    <th>Recovery</th>
    <th>Flexibility</th>
    <th>Local muscle endurance</th>
    <th>Cardiovascular endurance</th>
    <th>Strength endurance</th>
    <th>Coordination</th>
    <th>Psychological skills</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @surveys.each do |survey| %>
  <tr>
    <td><%= survey.coach_ability %></td>
    <td><%= survey.athletes_knowledge %></td>
    <td><%= survey.technical_competency %></td>
    <td><%= survey.physical_conditioning %></td>
    <td><%= survey.strength %></td>
    <td><%= survey.power %></td>
    <td><%= survey.agility %></td>
    <td><%= survey.balance %></td>
    <td><%= survey.team_work %></td>
    <td><%= survey.sustainable_power %></td>
    <td><%= survey.confidence %></td>
    <td><%= survey.time_management %></td>
    <td><%= survey.communication %></td>
    <td><%= survey.motivation %></td>
    <td><%= survey.health_managment %></td>
    <td><%= survey.nutrition %></td>
    <td><%= survey.recovery %></td>
    <td><%= survey.flexibility %></td>
    <td><%= survey.local_muscle_endurance %></td>
    <td><%= survey.cardiovascular_endurance %></td>
    <td><%= survey.strength_endurance %></td>
    <td><%= survey.coordination %></td>
    <td><%= survey.psychological_skills %></td>
    <td><%= link_to 'Show', survey %></td>
    <td><%= link_to 'Edit', edit_survey_path(survey) %></td>
    <td><%= link_to 'Destroy', survey, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Survey', new_survey_path %>
