<p>
  <b>Coach ability:</b>
  <%= @survey.coach_ability %>
</p>

<p>
  <b>Athletes knowledge:</b>
  <%= @survey.athletes_knowledge %>
</p>

<p>
  <b>Technical competency:</b>
  <%= @survey.technical_competency %>
</p>

<p>
  <b>Physical conditioning:</b>
  <%= @survey.physical_conditioning %>
</p>

<p>
  <b>Strength:</b>
  <%= @survey.strength %>
</p>

<p>
  <b>Power:</b>
  <%= @survey.power %>
</p>

<p>
  <b>Agility:</b>
  <%= @survey.agility %>
</p>

<p>
  <b>Balance:</b>
  <%= @survey.balance %>
</p>

<p>
  <b>Team work:</b>
  <%= @survey.team_work %>
</p>

<p>
  <b>Sustainable power:</b>
  <%= @survey.sustainable_power %>
</p>

<p>
  <b>Confidence:</b>
  <%= @survey.confidence %>
</p>

<p>
  <b>Time management:</b>
  <%= @survey.time_management %>
</p>

<p>
  <b>Communication:</b>
  <%= @survey.communication %>
</p>

<p>
  <b>Motivation:</b>
  <%= @survey.motivation %>
</p>

<p>
  <b>Health managment:</b>
  <%= @survey.health_managment %>
</p>

<p>
  <b>Nutrition:</b>
  <%= @survey.nutrition %>
</p>

<p>
  <b>Recovery:</b>
  <%= @survey.recovery %>
</p>

<p>
  <b>Flexibility:</b>
  <%= @survey.flexibility %>
</p>

<p>
  <b>Local muscle endurance:</b>
  <%= @survey.local_muscle_endurance %>
</p>

<p>
  <b>Cardiovascular endurance:</b>
  <%= @survey.cardiovascular_endurance %>
</p>

<p>
  <b>Strength endurance:</b>
  <%= @survey.strength_endurance %>
</p>

<p>
  <b>Coordination:</b>
  <%= @survey.coordination %>
</p>

<p>
  <b>Psychological skills:</b>
  <%= @survey.psychological_skills %>
</p>


<%= link_to 'Edit', edit_survey_path(@survey) %> |
<%= link_to 'Back', surveys_path %>
