<h2>Roles</h2>
<h1><%= @role.name %></h1>

<p>
  <%= @role.description %>
</p>

<h3>Authorized Users</h3>
<ul>
<% @role.users.each do |user| %>
<li><%= link_to user, user %></li>
<% end %>
</ul>

<hr />

<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
