<%= form_for(@support) do |f| %>
  <% if @support.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@support.errors.count, "error") %> prohibited this support from being saved:</h2>

      <ul>
      <% @support.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h3><%= @support.user.name %> supports</h3>

  <%= f.hidden_field :user_id %>

  <div class="field">
    <%= f.label :swimmer_id %><br />
    <%= f.select :swimmer_id, Swimmer.all.map{ |x| [x.name, x.id] } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
