<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @support.user_id %>
</p>

<p>
  <b>Swimmer:</b>
  <%= @support.swimmer_id %>
</p>


<%= link_to 'Edit', edit_support_path(@support) %> |
<%= link_to 'Back', supports_path %>
