<%= form_for(@standard) do |f| %>
  <% if @standard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@standard.errors.count, "error") %> prohibited this standard from being saved:</h2>

      <ul>
      <% @standard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h2><%= @standard.competition.name %></h2>

  <%= f.hidden_field :competition_id %>

  <div class="field">
    <%= f.label :qualification_id %><br />
    <%= f.select :qualification_id, (Qualification.all - @standard.competition.standards.map { |x| x.qualification }).map{ |x| [x.name, x.id] }, :include_blank => true %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
