<h1>Qualification Standards</h1>

<table>
  <tr>
    <th>Competition</th>
    <th>Qualification</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @standards.each do |standard| %>
  <tr>
    <td><%= standard.competition_id %></td>
    <td><%= standard.qualification_id %></td>
    <td><%= link_to 'Show', standard %></td>
    <td><%= link_to 'Edit', edit_standard_path(standard) %></td>
    <td><%= link_to 'Destroy', standard, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Standard', new_standard_path %>
