<h1>Listing performances</h1>

<table>
  <tr>
    <th>User</th>
    <th>Time</th>
    <th>Discipline</th>
    <th>Name</th>
    <th>Competition</th>
    <th>Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @performances.each do |performance| %>
  <tr>
    <td><%= performance.user_id %></td>
    <td><%= performance.time %></td>
    <td><%= performance.discipline_id %></td>
    <td><%= performance.name %></td>
    <td><%= performance.competition %></td>
    <td><%= performance.date %></td>
    <td><%= link_to 'Show', performance %></td>
    <td><%= link_to 'Edit', edit_performance_path(performance) %></td>
    <td><%= link_to 'Destroy', performance, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Performance', new_performance_path %>
