<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @performance.user_id %>
</p>

<p>
  <b>Time:</b>
  <%= @performance.time %>
</p>

<p>
  <b>Discipline:</b>
  <%= @performance.discipline_id %>
</p>

<p>
  <b>Name:</b>
  <%= @performance.name %>
</p>

<p>
  <b>Competition:</b>
  <%= @performance.competition %>
</p>

<p>
  <b>Date:</b>
  <%= @performance.date %>
</p>


<%= link_to 'Edit', edit_performance_path(@performance) %> |
<%= link_to 'Back', performances_path %>
