<%= form_for(@stroke) do |f| %>
  <% if @stroke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stroke.errors.count, "error") %> prohibited this stroke from being saved:</h2>

      <ul>
      <% @stroke.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :short %><br />
    <%= f.text_field :short %>
  </div>
  <div class="field">
    <%= f.label :code %><br />
    <%= f.number_field :code %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
